$ac-api-light: #E6E7E8;
$ac-api-dark: #58585B;

$ac-api-break-main: 750px;

@mixin apiIcon($icon, $icon-w, $icon-h) {
  background-image: url('../img/' + $icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: $icon-w $icon-h;
  content: '';
  height: $icon-h;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: $icon-w;
}

.ac-api-section {
  width: 100%;

  &-main {
    background-color: $ac-api-light;
    padding: 45px 0;
  }
}

.ac-api-hgroup {
  align-items: center;
  background-image: url('https://d1q1x53g5ys27r.cloudfront.net/images/base/pagehead01.2.png');
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;

  @media (max-width: $ac-api-break-main) {
    justify-content: flex-start;
    height: auto;
    min-height: 40px;
    padding: 10px 0 10px 15px;
  }

  &.m-large {
    height: 94px;

    @media (max-width: $ac-api-break-main) {
      height: 60px;
    }
  }

  &-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: .06em;
    padding-right: 38px;
    position: relative;

    @media (max-width: $ac-api-break-main) {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      padding: 0 0 0 38px;
    }

    &.m-large {
      font-size: 28px;
      padding-right: 40px;

      @media (max-width: $ac-api-break-main) {
        font-size: 22px;
        padding-right: 0;
      }
    }

    &.m-icon-1 {
      @media (max-width: $ac-api-break-main) {
        padding: 0 0 0 40px;
      }

      &::before {
        @include apiIcon('ac_api_icon_1.svg', 27px, 27px);
        right: 0;

        @media (max-width: $ac-api-break-main) {
          left: 0;
          right: auto;
        }
      }
    }

    &.m-icon-2 {
      @media (max-width: $ac-api-break-main) {
        padding: 0 0 0 40px;
      }

      &::before {
        @include apiIcon('ac_api_icon_6.svg', 25px, 23px);
        right: 0;

        @media (max-width: $ac-api-break-main) {
          left: 0;
          right: auto;
        }
      }
    }

    &.m-icon-3 {
      padding-right: 46px;

      @media (max-width: $ac-api-break-main) {
        padding: 0 0 0 40px;
      }

      &::before {
        @include apiIcon('ac_api_icon_9.svg', 36px, 23px);
        right: 0;

        @media (max-width: $ac-api-break-main) {
          left: -6px;
          right: auto;
        }
      }
    }

    &.m-icon-4 {
      padding-right: 42px;

      @media (max-width: $ac-api-break-main) {
        padding: 0 0 0 40px;
      }

      &::before {
        @include apiIcon('ac_api_icon_10.svg', 29px, 25px);
        right: 0;

        @media (max-width: $ac-api-break-main) {
          left: 0;
          right: auto;
        }
      }
    }
  }
}

.ac-api-nav {
  background-color: $ac-api-light;
  padding: 12px 0;

  &-items {
    display: flex;
    justify-content: center;

    @media (max-width: $ac-api-break-main) {
      flex-direction: column;
    }

    &-item {
      border: 2px solid #fff;
      border-radius: 5px;
      align-items: center;
      padding-left: 20px;
      display: flex;
      margin: 0 5px;
      height: 34px;
      position: relative;
      text-decoration: none;
      transition: background-color .2s ease-in-out;

      @media (max-width: $ac-api-break-main) {
        margin: 0 15px 15px;
      }

      &.m-icon-1 {
        padding-right: 48px;

        &::before {
          @include apiIcon('ac_api_icon_2.svg', 21px, 15px);
          opacity: .44;
          right: 18px;
        }
      }

      &.m-icon-2 {
        padding-right: 46px;

        &::before {
          @include apiIcon('ac_api_icon_3.svg', 19px, 13px);
          opacity: .44;
          right: 15px;
        }
      }

      &.m-icon-3 {
        padding-right: 58px;

        &::before {
          @include apiIcon('ac_api_icon_4.svg', 32px, 13px);
          opacity: .44;
          right: 10px;
        }
      }

      &.m-icon-4 {
        padding-right: 50px;

        &::before {
          @include apiIcon('ac_api_icon_5.svg', 26px, 14px);
          opacity: .44;
          right: 15px;
        }
      }

      &:hover,
      &.m-active {
        background-color: #fff;
      }

      span {
        color: $ac-api-dark;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }
}

.ac-api-content {
  margin: auto;
  width: 1004px;

  @media (max-width: 1064px) {
    padding: 0 30px;
    width: 100%;
  }

  @media (max-width: $ac-api-break-main) {
    padding: 0 15px;
  }

  &-title {
    color: $ac-api-dark;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
    text-align: center;

    @media (max-width: $ac-api-break-main) {
      text-align: left;
    }
  }

  &-cols {
    display: flex;
    flex-wrap: wrap;

    &-col {
      width: 50%;

      @media (max-width: $ac-api-break-main) {
        width: 100%;
      }

      &:first-child {
        padding-right: 30px;

        @media (max-width: $ac-api-break-main) {
          padding-right: 0;
        }
      }

      &:last-child {
        padding-left: 30px;

        @media (max-width: $ac-api-break-main) {
          padding-left: 0;
          margin-top: 20px;
        }
      }
    }
  }

  &-copy {
    color: $ac-api-dark;
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
  }

  &-images-title {
    margin-bottom: 12px;
    text-align: center;
    width: 100%;

    @media (max-width: $ac-api-break-main) {
      text-align: left;
    }

    &-item {
      color: $ac-api-dark;
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      position: relative;

      &.m-icon-1 {
        padding-left: 28px;

        &::before {
          @include apiIcon('ac_api_icon_7.svg', 18px, 18px);
          left: 0;
          opacity: .44;
        }
      }

      &.m-icon-2 {
        padding-left: 30px;

        &::before {
          @include apiIcon('ac_api_icon_8.svg', 19px, 18px);
          left: 0;
          opacity: .44;
        }
      }
    }
  }

  &-images-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    padding: 0 34px;

    @media (max-width: $ac-api-break-main) {
      justify-content: center;
      padding: 0;
      margin-bottom: 20px;
    }

    &-item {
      padding: 0 12px;
      width: 20%;

      @media (max-width: $ac-api-break-main) {
        padding: 0 0 20px;
        width: 50%;

        &:nth-child(odd) {
          padding-right: 10px;
        }

        &:nth-child(even) {
          padding-left: 10px;
        }
      }

      img {
        height: auto;
        display: block;
        width: 100%;
      }
    }
  }
}
