.ac-error-modal {
  background: rgba(#303638, .9);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  &-inner {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
}

.ac-error-modal-main {
  background-color: #e5e5e5;
  padding: 45px 15px;
  position: relative;
  text-align: center;
  width: 580px;

  @media (max-width: 580px) {
    width: 100%;
  }

  &-close {
    height: 40px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 5;

    span {
      position: absolute;
      left: -500px;
    }

    &::after {
      @include patchesIcon('ac_patches_icon_11.svg', 14px, 14px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-title {
    color: $ac-red;
    font-size: 16px;
    line-height: 24px;
    padding-top: 70px;
    position: relative;
    text-transform: uppercase;

    &::before {
      @include patchesIcon('ac_patches_icon_13.svg', 60px, 60px);
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }
  }

  &-message {
    color: $ac-dark-2;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }
}
