.ac-home-hero {
  background-image: url('https://d1q1x53g5ys27r.cloudfront.net/images/base/pagehead01.2.png');
  position: relative;
  padding: 220px 100px 80px;

  @media only screen and (max-width: 1420px) {
    padding: 220px 40px 80px;
  }

  @media (max-width: 700px) {
    padding: 140px 20px 40px;
  }
}

.ac-home-hero-main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  &-copy {
    flex: 0 0 600px;

    @media (max-width: 600px) {
      flex: auto;
    }

    &-l {
      color: #fff;
      font-size: 52px;
      font-weight: 100;
      line-height: 60px;
      margin-bottom: 20px;
      text-transform: uppercase;

      @media (max-width: 600px) {
        font-size: 30px;
        line-height: 36px;
      }

      strong {
        font-weight: normal;
      }
    }

    &-s {
      color: #fff;
      font-size: 20px;
      font-weight: 200;
      line-height: 30px;

      @media (max-width: 600px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &-image {

    @media (max-width: 1100px) {
      display: none;
    }

    figure {
      left: -10px;
      position: relative;

      img {
        max-width: 500px;
        max-height: 270px;
      }
    }
  }
}

.ac-home-hero-new {
  display: flex;
  border: 1px solid #fff;
  border-top: 0;
  border-radius: 12px;
  margin-bottom: 40px;
  padding: 20px;
  position: relative;
  text-decoration: none;
  width: 300px;

  &-top-left {
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;

    &::before {
      border-radius: 12px;
      width: 24px;
      height: 24px;
      border: 1px solid #fff;
      content: '';
      top: 0;
      left: -1px;
      position: absolute;
    }
  }

  &-top-right {
    width: 12px;
    height: 12px;
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;

    &::before {
      border-radius: 12px;
      width: 24px;
      height: 24px;
      border: 1px solid #fff;
      content: '';
      top: 0;
      right: -1px;
      position: absolute;
    }
  }

  &::before {
    width: 200px;
    height: 1px;
    background-color: #fff;
    content: '';
    top: 0;
    right: 12px;
    position: absolute;
  }

  &-label {
    position: absolute;
    left: 20px;
    top: -12px;
    color: $ac-red;
    font-style: italic;
    text-transform: uppercase;
    font-size: 24px;
    height: 24px;
    line-height: 24px;

  }

  &-copy {
    color: #fff;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &-button {
    position: absolute;
    width: 158px;
    height: 40px;
    background-color: $ac-red;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(#000, .5);
    bottom: -20px;
    padding-left: 28px;
    right: 40px;
    z-index: 2;

    span {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: 40px;
      text-transform: uppercase;
    }

    &::after {
      background-image: url('../img/ac_patches_icon_2.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      height: 20px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }
  }
}
